.slider-input {
  & .label-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & .label {
    font-size: 0.75rem;
  }

  & .ant-slider.ant-slider-horizontal {
    padding: 0;
    margin: 8px 8px 0px 0px;
  }
}
